numpy==1.24.4
open3d
pandas
matplotlib
seaborn
scipy
statsmodels
tiktoken
transformers==4.46.3
imageio-ffmpeg==0.4.9
ffmpeg-python
moviepy==1.0.3
pycocotools
langchain-community
langgraph
langchain_openai
langchain_nvidia_ai_endpoints
langchain-ollama
langchain_huggingface
